#root {
  height: 100%;
}

.darg-move-window {
  /*noinspection CssUnknownProperty*/
  -webkit-app-region: drag
}

button, a, input {
  -webkit-app-region: no-drag;
}

.device-electron-show {
  display: none;
}

.device-electron .device-electron-show {
  display: initial;
}

.server-is-remote .server-remote-hide {
  display: none;
}

.header-toolbar {
  display: flex;
  align-items: center;
}

.header-toolbar .resize-window {
  visibility: hidden;
}

.window-control {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-web .window-control{
  right: 15px;
}

.window-control button {
  border: 0;
  background-color: transparent;
  padding: 0 7px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  outline-style: none;
}

.window-control button:hover,
.window-control button:active,
.window-control button:focus{
  background-color: transparent;
}

.device-electron.device-linux .window-control,
.device-electron.device-windows .window-control{
  visibility: visible;
}

@media all and (min-width: 1000px){
  .device-web #root{
    display: flex;
    background: #cae5dc;
  }
  .device-web .App.ant-layout {
    max-width: 900px;
    height: 600px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 35px 56px rgba(0, 0, 0, .3);
  }
  .device-web .header-toolbar {
    position: relative;
  }
  .device-web .header-toolbar .resize-window {
    position: absolute;
    right: 14px;
    color: #595959;
    visibility:visible;
  }
  .device-web.device-fullscreen .App.ant-layout {
    max-width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0;
  }
}

.App, .ant-layout {
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}

.ant-layout-sider,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub  {
  background-color: #32373f;
}

.userInfo {
  padding: 20px 0 10px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-macOs.device-electron .userInfo {
  padding: 40px 0 10px 20px;
}

.userName {
  line-height: 1.2;
  margin-left: 4px;
  color: white;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.userName .ant-dropdown-trigger {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
}

.userName .ant-badge-status-text {
  color: white;
  font-size: 12px;
  max-width: 90px;
}

.userVip {
  background-color: #da5444;
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  font-style: italic;
  font-size: 10px;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.userVip.success {
  background-color: #52c41a;
}

.header-title {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #e7e7e7;
}
.header-toolbar {
  background-color: #f7f7f7;
  height: 44px;
  line-height: 44px;
  padding: 0 0 0 20px;
  border-bottom: 1px #ddd solid;
}

.ant-list.ant-list-split {
  background-color: #ffffff;
}

.ant-list-item-content {
  justify-content: space-between;
  flex: initial;
  width: 260px;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}
.ant-list-item-meta-description,
.ant-layout-sider-children{
  user-select: none;
  -webkit-user-select: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #ffffff;
  color: #666666;
}

.ant-layout-content {
  overflow: auto;
  background-color: #f7f7f7;
  flex: 1;
}

.newTaskDialog {

}

.newTaskDialog .ant-modal-footer {
  padding: 10px 0px 0;
}

.newTaskDialog .ant-modal-close-x {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.newTaskDialog .ant-modal-body {
  padding: 10px;
  background-color: #f7f7f7;
}

.newTaskDialog .ant-modal-body textarea {
  resize: none;
}

.newTaskDialog .ant-modal-header {
  padding: 10px 12px;
}

.newTaskDialog .ant-modal-title {
  font-size: 14px;
  line-height: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 下载详情card */
.download-item-details-card .ant-card-wider-padding .ant-card-body,
.download-item-details-card .ant-card-body {
  padding: 0;
}
.download-item-details-card .ant-card-head {
  min-height: 35px;
  padding: 0 10px;
  user-select: none;
  -webkit-user-select: none;
}
.download-item-details-card .ant-tabs-large .ant-tabs-tab {
  padding: 6px;
}

.download-item-details-card .ant-card-grid {
  overflow: hidden;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.download-item-details-card .ant-card-grid:hover{
  box-shadow: none;
}

/* 设置界面 */
.Setting .ant-list-item-content {
  width: auto;
}
.Setting .ant-card-body {
  padding: 1px 0px;
}

.Setting .ant-card-head {
  padding: 0;
  min-height: initial;
}

.Setting .ant-list-item {
  padding: 5px;
}

.Setting .ant-card-head-title {
  padding: 0;
}

.Setting .ant-card-extra {
  padding: 0;
}


.SettingModal .ant-modal-close-x {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.SettingModal .ant-modal-body {
  padding: 10px;
  background-color: #f7f7f7;
}

.SettingModal .ant-modal-header {
  padding: 10px 12px;
}

.SettingModal .ant-modal-title {
  font-size: 14px;
  line-height: 18px;
}


.SettingModal .ant-modal-body {
  padding: 5px 24px;
}
.SettingModal .ant-form-item {
  margin-bottom: 0;
}

.Setting .ant-btn-group > .ant-btn {
  line-height: 1;
}
