#root {
  height: 100%;
}

.darg-move-window {
  /*noinspection CssUnknownProperty*/
  -webkit-app-region: drag
}

.device-electron-show {
  display: none;
}

.device-electron .device-electron-show {
  display: inline;
}

.App, .ant-layout {
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}

.ant-layout-sider,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub  {
  background-color: #32373f;
}

.userInfo {
  padding: 20px 0 10px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-macOs.device-electron .userInfo {
  padding: 40px 0 10px 20px;
}

.userName {
  line-height: 1.2;
  margin-left: 4px;
  color: white;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.userName .ant-dropdown-trigger {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
}

.userName .ant-badge-status-text {
  color: white;
  font-size: 12px;
  max-width: 90px;
}

.userVip {
  background-color: #da5444;
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  font-style: italic;
  font-size: 10px;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.userVip.success {
  background-color: #52c41a;
}

.header-title {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #e7e7e7;
}
.header-toolbar {
  background-color: #f7f7f7;
  height: 44px;
  line-height: 44px;
  padding: 0 0 0 20px;
  border-bottom: 1px #ddd solid;
}

.ant-list.ant-list-split {
  background-color: #ffffff;
}

.ant-list-item-content {
  justify-content: space-between;
  flex: initial;
  width: 260px;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}
.ant-list-item-meta-description,
.ant-layout-sider-children{
  user-select: none;
  -webkit-user-select: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #ffffff;
  color: #666666;
}

.ant-layout-content {
  overflow: auto;
  background-color: #f7f7f7;
}

.newTaskDialog {

}

.newTaskDialog .ant-modal-footer {
  padding: 10px 0px 0;
}

.newTaskDialog .ant-modal-close-x {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.newTaskDialog .ant-modal-body {
  padding: 10px;
  background-color: #f7f7f7;
}

.newTaskDialog .ant-modal-body textarea {
  resize: none;
}

.newTaskDialog .ant-modal-header {
  padding: 10px 12px;
}

.newTaskDialog .ant-modal-title {
  font-size: 14px;
  line-height: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 下载详情card */
.download-item-details-card .ant-card-wider-padding .ant-card-body,
.download-item-details-card .ant-card-body {
  padding: 0;
}
.download-item-details-card .ant-card-head {
  min-height: 35px;
  padding: 0 10px;
  user-select: none;
  -webkit-user-select: none;
}
.download-item-details-card .ant-tabs-large .ant-tabs-tab {
  padding: 6px;
}
.download-item-details-card .ant-card-grid:hover{
  box-shadow: none;
}
